body {
    background-color: #412c49;
}

.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-box {
    width: 900px;
    padding: 20px;
    background-color: #9e42f4;
}

span {
    display: inline-block;
}

.head-row span {
    width: 16%;
    text-align: end;
}